/*!
Theme Name: X Fine
Theme URI: https://www.fanite.com/x-fine/
Author: Peyton Wong
Author URI: https://www.fanite.com/
Description: This's my personal theme.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: xfine
Tags: blog, ablum

这是我的个人主题。
*/

//！ typo.css
@import './typo.styl'

//! common.styl
@import './common.styl'

//! grid
@import './grid.styl'
